@model StarFishWebsite.Models.AffiliateLink

@{
    ViewBag.Title = "NewAffiliate";
}

<div class="card bg-light mb-3">
    <div class="card-header">
        <h2>New Affiliate</h2>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("AddAffiliate", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="form-group">
                @Html.LabelFor(u => u.name)
                @Html.TextBoxFor(u => u.name, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(u => u.SiteName)
                @Html.TextBoxFor(u => u.SiteName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(u => u.Description)
                @Html.TextBoxFor(u => u.Description, new { @class = "form-control" })
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Create</button>
        }
        </div>
</div>