@model StarFishWebsite.Models.AllTables

@{
    ViewBag.Title = "UploadFile";
}


<div class="card bg-light mb-3">
    <div class="card-header">
        <h2>New Fish</h2>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("UploadFish", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
        <table>
            <tr>
                <td><label>Name: </label></td>
                <td>
                    @Html.TextBoxFor(u => u.fish.Name, new { @class = "form-control" })
                </td>
            </tr>
            <tr>
                <td>Affiliate: </td>
                <td>
                    @Html.DropDownList("selectedaffiliate", (SelectList)ViewBag.Affiliates, "Select an affiliate")
                </td>
            </tr>
            <tr>
                <td><label>Fish Type: </label></td>
                <td>
                    @Html.DropDownList("selectedfishtype", (SelectList)ViewBag.FishTypes, "Select a fish type")
                </td>
            </tr>
            <tr>
                <td>
                    <label>Price: </label>
                </td>
                <td>
                    @Html.TextBoxFor(u => u.fish.Price, new { @type = "number", step = "0.01" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(u => u.fish.Description)
                </td>
                <td>
                    @Html.TextBoxFor(u => u.fish.Description, new { @class = "form-control" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(u => u.fish.SubDescriptions)
                </td>
                <td>
                    @Html.TextBoxFor(u => u.fish.SubDescriptions, new { @class = "form-control" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(u => u.fish.MoreDescriptions)
                </td>
                <td>
                    @Html.TextBoxFor(u => u.fish.MoreDescriptions, new { @class = "form-control" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(u => u.fish.PrivateNotes)
                </td>
                <td>
                    @Html.TextBoxFor(u => u.fish.PrivateNotes, new { @class = "form-control" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(u => u.fish.InGame)
                </td>
                <td>
                    @Html.CheckBoxFor(u => u.fish.InGame)
                </td>
            </tr>
            <tr>
                <td></td>
                <th><label>Preferred Foods (Select all that apply):</label></th>
                <td>
            </tr>
            @{
                int i = 0;
                foreach (var item in ViewBag.Context.foods)
                {
                    @Html.HiddenFor(u => u.fpid[i], new { Value = item.ID })
                    <tr>
                        <td>
                            <label>@item.Name</label>
                        </td>
                        <td>
                            @Html.CheckBoxFor(u => u.fpyn[i])
                        </td>
                    </tr>
                    i = i + 1;
                }
            }
            <tr>
                <td><label>Image: </label></td>
                <td>
                    <input type="file" name="filetobeuploaded" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit" class="btn btn-primary">Create</button>
                </td>
            </tr>
        </table>
                            }
