@model IEnumerable<StarFishWebsite.Models.Food>

@{
    ViewBag.Title = "Food";
}

@using StarFishWebsite.Models



        <div class="card bg-light mb-3">
            <div class="card-header">
                <h2>Foods</h2>
                @using (Context i = new Context())
                {
                    if (i.logins.Where(x => x.IPAddress == Request.UserHostAddress).Where(x => x.LoginTime > DateTime.Now).Count() > 0 && i.logins.Include("Role").Where(x => x.IPAddress == Request.UserHostAddress).Where(x => x.LoginTime > DateTime.Now).FirstOrDefault().Role.AccessLevel >= 10)
                    {
                        @Html.ActionLink("Add Food", "NewFood", "Upload", "", new { @class = "btn btn-primary" })
                    }
                }
            </div>
            <div class="card-body">
                <table class="table">
                    <tr>
                        <th>
                            Name:
                        </th>
                        <th>
                            Type:
                        </th>
                        <th>
                            Price:
                        </th>
                        <th>
                            Icon:
                        </th>
                        <th>
                            In Game:
                        </th>
                        <th>

                        </th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        if (item.Available == true)
                        {
                            <tr>
                                <td>
                                    <p>@item.Name</p>
                                </td>
                                <td>
                                    <p>@item.TypeofFood.Name</p>
                                </td>
                                <td>
                                    <p>$@item.price.ToString("0.00")</p>
                                </td>
                                <td>
                                    <img src='@Url.Action("ConvertImage", "List", new { id = item.icon.ID })' height='50' width="50" />
                                </td>
                                <td>
                                    <p>@item.InGame.ToString()</p>
                                </td>
                                <td>
                                    @using (Context i = new Context())
                                    {
                                    if (i.logins.Where(x => x.IPAddress == Request.UserHostAddress).Where(x => x.LoginTime > DateTime.Now).Count() > 0 && i.logins.Include("Role").Where(x => x.IPAddress == Request.UserHostAddress).Where(x => x.LoginTime > DateTime.Now).FirstOrDefault().Role.AccessLevel >= 10)
                                    {
                                        <div>
                                            @Html.ActionLink("Edit", "Food", "Edit", new { item.ID }, new { @class = "btn btn-primary" })
                                            @Html.ActionLink("Delete", "SoftDeleteFood", "Edit", new { item.ID }, new { @class = "btn btn-primary" })
                                        </div>
                                        }
                                    }
                                    </td>
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>