@model StarFishWebsite.Models.AffiliateLink

@{
    ViewBag.Title = "Affiliate";
}

<h2>Affiliate</h2>

@using (Html.BeginForm("EditAffiliate", "Edit", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(u => u.ID, new { @value = Model.ID })
    <div class="form-group">
        @Html.LabelFor(u => u.name)
        @Html.TextBoxFor(u => u.name, new { @class = "form-control", @value = Model.name })
    </div>
    <div class="form-group">
        @Html.LabelFor(u => u.SiteName)
        @Html.TextBoxFor(u => u.SiteName, new { @class = "form-control", @value = Model.SiteName })
    </div>
    <div class="form-group">
        @Html.LabelFor(u => u.Description)
        @Html.TextBoxFor(u => u.Description, new { @class = "form-control", @value = Model.Description })
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Edit</button>
}