@model StarFishWebsite.Models.AllTables

@{
    ViewBag.Title = "Fish";
}

<div class="card bg-light mb-3">
    <div class="card-header">
        <h2>@Model.fish.Name</h2>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("EditFish", "Edit", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(u => u.fish.ID, new { @value = Model.fish.ID })
        <table>
            <tr>
                <td><label>Name: </label></td>
                <td>@Html.TextBoxFor(u => u.fish.Name, new { @class = "form-control", @value = Model.fish.Name })</td>
            </tr>
            <tr>
                <td><label>Affiliate:</td>
                <label>
                    <td>@Html.DropDownList("selectedaffiliate", (SelectList)ViewBag.Affiliates)</td>
            </tr>
            <tr>
                <td>
                    <label>Price: </label>
                </td>
                <td>
                    @Html.TextBoxFor(u => u.fish.Price, new { @type = "number", step = "0.01", @value = Model.fish.Price })
                </td>
            </tr>
            <tr>
                <td><label>Fish Type:</label></td>
                <td>
                    @Html.DropDownList("selectedfishtype", (SelectList)ViewBag.FishTypes)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(u => u.fish.Description)
                </td>
                <td>
                    @Html.TextBoxFor(u => u.fish.Description, new { @class = "form-control", @value = Model.fish.Description })
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(u => u.fish.SubDescriptions)</td>
                <td>
                    @Html.TextBoxFor(u => u.fish.SubDescriptions, new { @class = "form-control", @value = Model.fish.SubDescriptions })
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(u => u.fish.MoreDescriptions)</td>
                <td>
                    @Html.TextBoxFor(u => u.fish.MoreDescriptions, new { @class = "form-control", @value = Model.fish.MoreDescriptions })
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(u => u.fish.PrivateNotes)</td>
                <td>@Html.TextBoxFor(u => u.fish.PrivateNotes, new { @class = "form-control", @value = Model.fish.PrivateNotes })</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(u => u.fish.InGame)</td>
                <td>@Html.CheckBoxFor(u => u.fish.InGame, new { @checked = Model.fish.InGame })</td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(u => u.fish.PreferredFood)
                </th>
            </tr>
            <tr>
                @{
                    int i = 0;
                    foreach (var item in ViewBag.Context.foods)
                    {
                    <tr>
                        <td>
                            <label>@item.Name: </label>
                        </td>
                        <td>
                            @if (Model.fish.PreferredFood.Where(x => x.ID == item.ID).Count() > 0)
                            {
                                @Html.CheckBoxFor(u => u.fpyn[i], new { @checked = true })
                            }
                            else
                            {
                                @Html.CheckBoxFor(u => u.fpyn[i])
                            }
                            @Html.HiddenFor(u => u.fpid[i], new { Value = item.ID })
                        </td>
                    </tr>
                    i = i + 1;
                }
                }
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="file" name="filetobeuploaded" />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button type="submit" class="btn btn-primary">Edit</button>
                    </td>
                </tr>
            </table>

            }
    </div>
    </div>